@import "reset";
@import "variables";
@import "mixins";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';

.app-container {
  max-width: 680px;
  margin: 0 auto;
}

.app__title {
  margin-bottom: 1rem;
}
